body {
    background-color: rgba(231, 239, 241);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

.htlLogo {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.mensaLogo {
    margin-left: 20px;
    margin-top: 20px;
}

#overallHeading{
    color: black;
    text-align: center;
    font-family: Gadugi, Arial, 'Times New Roman';
    font-size: larger;
    margin-bottom: 10px;
}

.submitButton {
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
    background-color: rgb(40, 164, 255);
    color: white;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Gadugi, Arial, 'Times New Roman';
    font-size: medium;
}

.formDiv{
    margin-bottom: 10px;
    margin-right: 10px;
}

.formField {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    font-size: small;
}

input, select, textarea {
    color: #000000;
}

    textarea::placeholder, input::placeholder {
        color: #aaaaaa;
    }

.progressImage {
    max-width: 400px;
    margin: auto;
    display: flex;
}

#message {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 512px;
    display: flex;
    background-color: rgb(40, 164, 255);
    border-color: rgb(30, 150, 250);
    border-radius: 10px;
}

.activeAccount {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    background-color: rgb(10, 255, 100);
    border-color: rgb(10, 255, 100);
    border-radius: 10px;
}

.inactiveAccount {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 512px;
    display: flex;
    background-color: rgb(255, 40, 30);
    border-color: rgb(30, 150, 250);
    border-radius: 10px;
}

#headingContainer {
    overflow: hidden;
    margin-bottom: 10px;
}

#gradientOverlay {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -40px;
    align-items: center;
}

#content {
    overflow: hidden;
}

#formPaper {
    margin-top: 55px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    max-width: 580px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: rgb(0,0,0,0.60) 0px 0px 20px;
}

#progressBar {
    padding-top: 10px;
    margin-left: -50px;
    padding-left: 50px;
    margin-right: -50px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgba(120,120,120,0.2);
}

#checkActions {
    margin-top: 30px;
}