<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="8.6.1" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="8.6.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.7" targetFramework="net472" />
</packages>