#background {
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(2px);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dialogWindow {
	background-color: white;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cornerRadius {
	border-radius: 5px;
	border: 1px solid #A1DCF2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
}

.centerContainer {
	display: flex;
	justify-content: center;
}