#background {
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(2px);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 30;
}

#dialogWindow {
	background-color: white;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: #474d4e 2px 2px 8px;
}

.cornerRadius {
	border-radius: 5px;
	border: 1px solid #A1DCF2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	width: max-content;
}

	table.cornerRadius {
		margin-left: auto;
		margin-right: auto;
		box-shadow: rgba(0,0,0,0.2) 2px 2px 10px;
		border-width: 0px;
	}

	input.cornerRadius {
		background-color: #E7E9ED !important;
		border: 1px solid #C7CACF !important;
		color: #5E5F65 !important;
	}

.centerContainer {
	display: flex;
	justify-content: center;
}

td {
	word-wrap: break-word;
}

th {
	word-wrap: break-word;
}

table.underlinedTable td{
	border-bottom: 1px solid lightgray;
}