body {
	font-family: Gadugi, sans-serif, Arial;
}

.imageItem {
	width: 80%;
	margin-bottom: 30px;
	margin-top: 15px;
}

.mainColor {
	background-color: rgb(35, 38, 60) !important;
}

.Navigation {
	text-align: center;
	position: absolute;
	width: 170px;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.PageContent {
	background-color: rgba(231, 239, 241);
	position: absolute;
	top: 0px;
	left: 170px;
	right: 0px;
	bottom: 0px;
}

.Heading {
	position: absolute;
	top: 0px;
	left: 170px;
	right: 0px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.CurrPage {
	margin-left: 20px;
	font-weight: bold;
	font-size: large;
	margin-top: auto;
	margin-bottom: auto;
	color: #e9e9e9;
}

.HtlLogo {
	height: 70%;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
}

.sideNavButton {
	height: 40px;
	margin-top: 0px;
	cursor: pointer;
	background-color: transparent;
	color: rgb(245,245,245);
	border-radius: 10px;
	margin-right: 10px;
	width: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: start;
	padding-left: 20px;
}

.sideNavButtonActive {
	background-color: rgb(59, 63, 87);
	font-weight: bold;
	color: #7bb3f7;
}

.SmallPadding{
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.cardHolder {
	width: 100%;
	height: 125px;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}

.card {
	width: 28%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(180,180,180,0.5) 2px 2px 10px;
}

.orange {
	background-color: #edb95a;
}

.green {
	background-color: #5bcb76;
}

.blue {
	background-color: #71b9e3;
}

.cardPrimaryText {
	display: block;
	font-size: 2.5rem;
	color: white;
	margin-left: 25px;
	margin-bottom: auto;
	margin-top: 5px;
	z-index: 4;
	font-weight: bold;
	position: relative;
}

.subheading {
	font-size: medium;
	margin-top: -3px;
}

.cardSecondaryText {
	display: block;
	color: white;
	margin-left: 15px;
	margin-top: 11px;
	position: relative;
	z-index: 5;
}

.cardOverlayImage {
	background-blend-mode: lighten;
	height: 400px;
	margin-top: -170px;
	margin-left: -130px;
	z-index: 1;
	position: relative;
	opacity: 0.05;
}

.tableContainer {
	margin-top: 100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.2) 2px 2px 10px;
	padding-bottom: 20px;
}

.topPanelContainer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 2px solid rgb(230, 233, 236);
}