body {
	font-family: Gadugi, sans-serif, Arial;
}

.imageItem {
	width: 80%;
	margin-bottom: 30px;
}

.Navigation {
	background-color: #505a64;
	text-align: start;
	position: absolute;
	width: 170px;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.PageContent {
	background-color: rgba(231, 239, 241);
	position: absolute;
	top: 50px;
	left: 170px;
	right: 0px;
	bottom: 0px;
}

.Heading {
	background-color: #5f6c78;
	position: absolute;
	top: 0px;
	left: 170px;
	right: 0px;
	height: 50px;
}

.sideNavButton {
	height: 40px;
	margin-top: 0px;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
	color: white;
	border-radius: 10px;
	margin-right: 10px;
	width: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: start;
	padding-left: 20px;
}

.sideNavButtonActive {
	background-color: rgb(95, 108, 120);
	font-weight: bold;
}

.cardHolder {
	width: 100%;
	height: 160px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.card {
	width: 30%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(180,180,180,0.5) 2px 2px 10px;
}

.yellow {
	background-color: #edb95a;
}

.green {
	background-color: #5bcb76;
}

.red {
	background-color: #e75858;
}

.cardPrimaryText {
	font-size: 4rem;
	color: white;
	margin-left: 15px;
	margin-bottom: auto;
	margin-top: 25px;
	z-index: 4;
	font-weight: bold;
	position: relative;
}

.cardSecondaryText {
	color: white;
	margin-left: 30px;
	margin-top: 0px;
	position: relative;
	z-index: 5;
}

.cardOverlayImage {
	background-blend-mode: lighten;
	height: 400px;
	margin-top: -170px;
	margin-left: -130px;
	z-index: 1;
	position: relative;
	opacity: 0.05;
}