body {
	font-family: Gadugi, sans-serif, Arial;
}

.imageItem {
	width: 80%;
	margin-bottom: 30px;
}

.Navigation {
	background-color: #505a64;
	text-align: start;
	position: absolute;
	width: 170px;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.PageContent {
	background-color: rgba(231, 239, 241);
	position: absolute;
	top: 0px;
	left: 170px;
	right: 0px;
	bottom: 0px;
}

.Heading {
	background-color: #505a64;
	position: absolute;
	top: 0px;
	left: 170px;
	right: 0px;
	height: 50px;
}

.sideNavButton {
	height: 40px;
	margin-top: 5px;
	cursor: pointer;
	background-color: rgba(245,245,255,0.6);
	border-radius: 10px;
	margin-right: 10px;
	width: calc(100% - 10px);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: start;
	padding-left: 20px;
}

.sideNavButtonActive {
	background-color: white;
}