body{
	margin: 0px;
}

#dTop {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.centerObject{
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}

.dataHeading {
	text-align: center;
	margin-top: 70px;
	font-size: xx-large;
	font-weight: bolder;
	display: block;
}

.dataInfo {
	text-align: center;
	margin-bottom: 25px;
	display: block;
}

#gridContainer {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}