body {
	margin: 0px;
}

#dTop {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.centerObject{
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}

.dataHeading {
	text-align: center;
	margin-top: 70px;
	font-size: xx-large;
	font-weight: bolder;
	display: block;
}

.dataInfo {
	text-align: center;
	margin-bottom: 25px;
	display: block;
}

#gridContainer {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.body {
	font-family: Gadugi, Arial;
}

.PageInfo {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.ActionButton {
	background-color: rgb(235, 239, 247);
	color: rgb(90,90,90);
	border-width: 0px;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

	.ActionButton:disabled {
		background-color: #fcfcfc;
		color: #cdcdcd;
		border-width: 0px;
		border-radius: 20px;
		padding: 10px;
		cursor: default;
	}

.ActionSelect {
	padding: 10px;
	border-radius: 20px;
	appearance: none;
	color: rgb(90,90,90);
	border-width: 0px;
	width: 70px;
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6dHJhbnNwYXJlbnQ7fS5jbHMtMntmaWxsOiM0NDQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hcnJvd3M8L3RpdGxlPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQuOTUiIGhlaWdodD0iMTAiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMS40MSA0LjY3IDIuNDggMy4xOCAzLjU0IDQuNjcgMS40MSA0LjY3Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjMuNTQgNS4zMyAyLjQ4IDYuODIgMS40MSA1LjMzIDMuNTQgNS4zMyIvPjwvc3ZnPg==) no-repeat 90% 50%;
	cursor: pointer;
	font-weight: bold;
	background-color: rgb(235, 239, 247);
}

.DynTable {
	background-color: transparent !important;
	border-radius: 8px;
	overflow: hidden;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	margin-left: 20px;
	margin-right: 20px;
	border-width: 5px;
	border-color: #d7d7d7;
	font-family: sans-serif, 'Segoe UI', Arial;
}

	.DynTable tr {
		line-height: 40px;
	}

	.DynTable th {
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		color: rgb(6,28,59);
	}

	.DynTable td {
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		color: rgb(6,28,59);
	}

		.DynTable td input[type="text"] {
			height: 25px;
			border-width: 1px;
			border-radius: 50px;
			border-color: #d9d8d8;
			border-style: solid;
			padding-left: 9px;
			padding-right: 9px;
			-webkit-appearance: searchfield-cancel-button;
		}

		.DynTable td input[type="checkbox"] {
			height: 15px;
			width: 15px;
			cursor: pointer;
		}