body{
	margin: 0px;
}

#dTop {
	background-color: slategray;
	margin-bottom: 20px;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.centerObject{
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}